:root {
  --primary-color: #c01111;
}

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  line-height: 1.8;
  color: #4d5969;
}

.mw--1140px-c {
  max-width: 1140px;
}

.mw--1170px-c {
  max-width: 1170px;
}

.w--14pct-c {
  width: 14.648%;
}

.w--72pct-c {
  width: 72.663%;
}

.w--12pct-c {
  width: 12.018%;
}

.p--10px-c {
  padding: 10px;
}

.pb--25px-c {
  padding-bottom: 25px;
}

.mt--20px-c {
  margin-top: 20px;
}

.mb--10px-c {
  margin-bottom: 10px;
}

.py--10px-c {
  padding-top: 10px;
  padding-bottom: 10px;
}

.px--15px-c {
  padding-left: 15px;
  padding-right: 15px;
}

.shadow-c {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 4px;
}

.fs--14px-c {
  font-size: 14px;
}

.me--35px-c {
  margin-right: 35px;
}

.nav-link {
  color: inherit;
  transition: 0.2s;
}

.nav-link--active {
  color: var(--primary-color);
}

.nav-item:first-child > .nav-link::before {
  display: block;
  top: -20px;
  opacity: 1;
}

.nav-link--hover::before {
  position: absolute;
  content: "";
  height: 6px;
  width: 60%;
  border-radius: 5px;
  left: 50%;
  top: -25px;
  opacity: 0;
  transform: translateX(-50%);
  background-color: var(--primary-color);
  transition: all ease 0.2s;
}

.nav-item:hover > .nav-link::before {
  display: block;
  top: -20px;
  opacity: 1;
}

.nav-item:hover > .nav-link--hover {
  color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color) !important;
}

.lang--active {
  color: var(--primary-color) !important;
  border: 1px solid #c01111;
  border-radius: 4px;
  padding: 1px 13px !important;
  font-weight: 600;
}

.lang-item {
  transition: 0.2s;
  text-decoration: none;
}

.lang--normal {
  color: #949ba4;
  font-size: 14px;
  padding: 0 6px !important;
}
.lang-item:hover {
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2b3441;
}

.bussiness:before {
  content: "";
  border: 6px solid #f9f9f9;
  border-radius: 16px;
  position: absolute;
  width: 110px;
  height: calc(100% - 80px);
  left: 8px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.ps--70px-c {
  padding-left: 70px !important;
}

.py--40px-c {
  padding-top: 40px;
  padding-bottom: 40px;
}

.lh--1p8-c {
  line-height: 1.8;
}

.mt--m80px-c {
  margin-top: -80px;
}

.me--25px-c {
  margin-right: 25px;
}

.mb--m70px-c {
  margin-bottom: -70px;
}

.ms--70px-c {
  margin-left: 70px;
}

.w--42pct-c {
  width: 42.377%;
}

.w--58pct-c {
  width: 57.623%;
}
