:root {
  --primary-color: #c01111;
}

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  line-height: 1.8;
}

a {
  text-decoration: none;
  text-align: center;
}

.vh-97 {
  height: 97vh;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mw--1140px {
  max-width: 1140px;
}

.mw--1170px {
  max-width: 1170px;
}

.w--14pct {
  width: 14.648%;
}

.w--72pct {
  width: 72.663%;
}

.w--12pct {
  width: 12.018%;
}

.p--10px {
  padding: 10px;
}

.pb--25px {
  padding-bottom: 25px;
}

.mt--20px {
  margin-top: 20px;
}

.mb--10px {
  margin-bottom: 10px;
}

.py--10px {
  padding-top: 10px;
  padding-bottom: 10px;
}

.px--15px {
  padding-left: 15px;
  padding-right: 15px;
}

.shadow-c {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 4px;
}

.fs--14px {
  font-size: 14px;
}

.me--35px {
  margin-right: 35px;
}

.nav-link {
  color: inherit;
  transition: 0.2s;
}

.nav-link--active {
  color: var(--primary-color);
}

.nav-item:first-child > .nav-link::before {
  display: block;
  top: -20px;
  opacity: 1;
}

.l-0 {
  left: 0;
}

.r-0 {
  right: 0;
}

.nav-link--hover::before {
  position: absolute;
  content: "";
  height: 6px;
  width: 60%;
  border-radius: 5px;
  left: 50%;
  top: -25px;
  opacity: 0;
  transform: translateX(-50%);
  background-color: var(--primary-color);
  transition: all ease 0.2s;
}

.nav-item:hover > .nav-link::before {
  display: block;
  top: -20px;
  opacity: 1;
}

.nav-item:hover > .nav-link--hover {
  color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color) !important;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.lang--active {
  color: var(--primary-color) !important;
  border: 1px solid #c01111;
  border-radius: 4px;
  padding: 1px 13px !important;
  font-weight: 600;
}

.lang-item {
  transition: 0.2s;
  text-decoration: none;
}

.lang--normal {
  color: #949ba4;
  font-size: 14px;
  padding: 0 6px !important;
}

.lang-item:hover {
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2b3441;
}

.bussiness:before {
  content: "";
  border: 6px solid #f9f9f9;
  border-radius: 16px;
  position: absolute;
  width: 110px;
  height: calc(100% - 80px);
  left: 8px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.lh--1p8 {
  line-height: 1.8;
}

.mt--50px {
  margin-top: 50px;
}

.pb--50px {
  padding-bottom: 50px;
}

.mt--m80px {
  margin-top: -80px;
}

.me--25px {
  margin-right: 25px;
}

.mb--m70px {
  margin-bottom: -70px;
}

.mb--120px {
  margin-bottom: 120px;
}

.p--48px {
  padding: 48px;
}

.me--20px {
  margin-right: 20px;
}

.ms--20px {
  margin-left: 20px;
}

.mb--30px {
  margin-bottom: 30px;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-100 {
  z-index: 100;
}

.lh--1p4 {
  line-height: 1.4;
}

.mb--40px {
  margin-bottom: 40px;
}

.me--27px {
  margin-right: 27px;
}

.w--24px {
  width: 24px;
}

.w--40px {
  width: 40px;
}

.h--40px {
  height: 40px;
}

.h--24px {
  height: 24px;
}

.px--20px {
  padding-left: 20px;
  padding-right: 20px;
}

.h--64px {
  height: 64px;
}

.button {
  transition: all 0.3s;
}

.button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: all 0.4s;
  transform: scale3d(0.7, 1, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  border-radius: 8px;
}

.button:hover > .button__icon {
  background-color: rgba(255, 255, 255, 0.1);
}

.button--bg-white .button__icon {
  background-color: rgba(192, 17, 17, 0.1);
}

.button--bg-white:hover:before {
  opacity: 1;
  z-index: 1;
  background-color: #fff;
  transform: translate3d(0, 0, 0);
  background-color: #2b3441;
}

.button--bg-white:hover > * {
  z-index: 2;
  color: #fff;
}

.button--bg-dark {
  background-color: #2b3441;
}

.button--bg-dark .button__icon {
  background-color: rgba(255, 255, 255, 0.1);
}

.button--bg-dark:hover:before {
  opacity: 1;
  z-index: 1;
  background-color: var(--primary-color);
  transform: translate3d(0, 0, 0);
}

.button--bg-dark:hover > * {
  z-index: 2;
}

.circle-before::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.ms--12px {
  margin-left: 12px;
}

.circle-before--bg-light::before {
  background: #f3f3f3;
}

.bussiness_item:first-child::before {
  content: "";
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: #d82329;
  position: absolute;
  right: 50px;
  top: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.bussiness_item:last-child::before {
  content: "";
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #c01111;
  position: absolute;
  right: -83px;
  bottom: 166px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.w--50p982pct {
  width: 50.982%;
}

.w--9p464pct {
  width: 9.464%;
}

.w--30pct {
  width: 30%;
}

.mb--20px {
  margin-bottom: 20px;
}

.mb--50px {
  margin-bottom: 50px;
}

.mt--60px {
  margin-top: 60px;
}

.pb--30px {
  padding-bottom: 30px;
}

.fs--112px {
  font-size: 112px;
}

.lh--1p2 {
  line-height: 1.2;
}

.fs--48px {
  font-size: 48px;
}

.ps--30px {
  padding-left: 30px;
}

.px--125px {
  padding-left: 125px;
  padding-right: 125px;
}

.project-slider-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(249, 249, 249, 0.9);
  box-sizing: border-box;
  border-radius: 8px;
}

.h--630px {
  height: 630px !important;
}

.fs--13px {
  font-size: 13px;
}

.mt--10px {
  margin-top: 10px;
}

.mt--30px {
  margin-top: 30px;
}

.mb--15px {
  margin-bottom: 15px;
}

.mb--80px {
  margin-bottom: 80px;
}

.mb--25px {
  margin-bottom: 25px;
}

.mb--60px {
  margin-bottom: 60px;
}

.mt--90px {
  margin-top: 90px;
}

.bussiness_item:last-child::after {
  content: "";
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: #fff7f7;
  position: absolute;
  right: 55%;
  bottom: -85px;
}

.section-project::before {
  content: "";
  width: 71px;
  height: 71px;
  border-radius: 50%;
  background-color: #ffeff0;
  position: absolute;
  right: -90px;
  bottom: -40px;
}

.project-heading::before {
  content: "";
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #c01111;
  position: absolute;
  right: 25%;
  top: -30px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.project-heading::after {
  content: "";
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: rgba(192, 17, 17, 0.1);
  position: absolute;
  left: 0;
  bottom: -40px;
}

.project-slider__title:hover {
  color: var(--primary-color) !important;
}

.carousel-control-next,
.carousel-control-prev {
  background-color: rgba(148, 155, 164, 0.2);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  padding: 0;
  font-weight: 900;
  font-size: 18px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  transition: all 0.4s;
  cursor: pointer;
  top: unset;
  left: unset;
  color: #2b3441;
}

.carousel {
  position: static;
}

.arrow:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.carousel-control-prev {
  right: 80px;
}

.career-intro__content {
  background-image: url("../../assets/images/career-bg.jpg");
  background-size: cover;
}

.career-intro__content:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(192, 17, 17, 0.9);
  z-index: 0;
  border-radius: 16px;
}

.career-intro__content:after {
  content: "";
  position: absolute;
  background-color: #ef3f45;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  top: 75px;
  left: 75px;
  z-index: 0;
}

.px--5pct {
  padding-left: 5%;
  padding-right: 5%;
}

.pt--100px {
  padding-top: 100px;
}

.mt--8px {
  margin-top: 8px;
}

.pt--60px {
  padding-top: 60px;
}

.pb--10px {
  padding-bottom: 10px;
}

.fs--18px {
  font-size: 18px;
}

.career-intro__sub-title:before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #d82329;
  top: 46px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
}

.fa-check {
  color: #c01111;
  position: relative;
  left: 0;
  top: -10px;
  font-size: 48px;
  font-weight: 700;
}

.news__items {
  border: 1px solid transparent;
  transition: all 0.3s;
}

.news__items:hover {
  border: 1px solid #e4e4e4;
  transition: all 0.3s;
}

.mt--75px {
  margin-top: 75px;
}

.w--33pct {
  width: 31%;
  flex: 0 0 31%;
  max-width: 31%;
}

.text-normal {
  white-space: normal;
}

.mx--12px {
  margin-left: 12px;
  margin-right: 12px;
}

.mx--m12px {
  margin-left: -12px;
  margin-right: -12px;
}

.rounded--10px {
  border-radius: 10px;
}

.rounded--34px {
  border-radius: 34px;
}

.t--m22px {
  top: -22px;
}

.r--m16px {
  right: -16px;
}

.news__content::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  background-color: rgba(228, 228, 228, 0.4);
  border-radius: 50%;
  left: 2px;
  top: 12px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.r--84px {
  right: 84px;
}

.t--m100px {
  top: -100px;
}

.r--12px {
  right: 12px;
}

.h--75px {
  height: 75px;
}

.news__title a {
  color: #2b3441;
}

.news__title a:hover {
  color: var(--primary-color);
}

.heading-title--style-1::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  background-color: #e4e4e4;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

footer a {
  color: #949ba4;
}

.footer__link-container a:hover {
  color: #4d5969;
  text-decoration: underline;
  transition: all 0.3s;
}

.pt--30px {
  padding-top: 30px;
}

.py--2px {
  padding-top: 2px;
  padding-bottom: 2px;
}

.pb--15px {
  padding-bottom: 15px;
}

.w--18pct {
  width: 18%;
}

.w--82pct {
  width: 82%;
}

.p--25px {
  padding: 25px;
}

.section-news:before {
  content: "";
  width: 71px;
  height: 71px;
  border-radius: 50%;
  background-color: #ffeff0;
  position: absolute;
  left: -90px;
  top: 40%;
}

.heading-news:before {
  content: "";
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #c01111;
  position: absolute;
  right: 5%;
  top: -45px;
}

.mb--m10px {
  margin-bottom: -10px;
}

.w--32px {
  width: 32px;
}

.h--32px {
  height: 32px;
}

.footer-button::before {
  border-radius: 50%;
  background: #c01111;
}

.lh--60px {
  line-height: 60px;
}

.w--76px {
  width: 76px;
}

.h--76px {
  height: 76px;
}

.r--24px {
  right: 24px;
}

.b--124px {
  bottom: 124px;
}

.p--15px {
  padding: 15px !important;
}

.mt--40px {
  margin-top: 40px !important;
}

.fs--65px {
  font-size: 65px;
}

.fs--36px {
  font-size: 36px;
}

.ps--20px {
  padding-left: 20px;
}

.t--m10px {
  top: -10px;
}

.l--m40px {
  left: -40px;
}

.px--50px {
  padding-left: 50px;
  padding-right: 50px;
}

.fs--15px {
  font-size: 15px;
}

.l--10px {
  left: 10px;
}

.r--10px {
  right: 10px;
}

.b--20px {
  bottom: 20px;
}

.fs--24px {
  font-size: 24px;
}

.w--35pct {
  width: 35%;
}

.w--40pct {
  width: 40%;
}

.w--25pct {
  width: 25%;
}

@media only screen and (min-width: 768px) {
  .w-md--5p439pct {
    width: 5.439% !important;
  }

  .pb-md--25px {
    padding-bottom: 25px !important;
  }

  .l-md--48px {
    left: 48px;
  }

  .r-md--48px {
    right: 48px;
  }

  .b-md--40px {
    bottom: 40px;
  }

  .px-md--125px {
    padding-left: 125px !important;
    padding-right: 125px !important;
  }

  .t-md--m5px {
    top: -5px !important;
  }

  .t-md--m10px {
    top: -10px !important;
  }

  .l-md--m50px {
    left: -50px !important;
  }

  .fs-md--24px {
    font-size: 24px !important;
  }

  .mb-md--50px {
    margin-bottom: 50px !important;
  }

  .ps-md--30px {
    padding-left: 30px !important;
  }

  .fs-md--48px {
    font-size: 48px !important;
  }

  .fs-md--112px {
    font-size: 112px !important;
  }

  .w-md--50p982pct {
    width: 50.982% !important;
  }

  .mt-md--60px {
    margin-top: 60px !important;
  }

  .pb-md--30px {
    padding-bottom: 30px !important;
  }

  .w-md--9p464pct {
    width: 9.464% !important;
  }

  .fs-md--18px {
    font-size: 18px !important;
  }

  .mt-md--90px {
    margin-top: 90px !important;
  }

  .w-md--30pct {
    width: 30% !important;
  }

  .w-md--49p337pct {
    width: 49.337% !important;
  }

  .ms-md--20px {
    margin-left: 20px !important;
  }

  .me-md--20px {
    margin-right: 20px !important;
  }

  .mb-md--120px {
    margin-bottom: 120px !important;
  }

  .w-md--44p888pct {
    width: 44.888% !important;
  }

  .ps-lg--70px {
    padding-left: 70px !important;
  }

  .fs-md--32px {
    font-size: 32px !important;
  }

  .section-news .carousel-item {
    transition: 1.6s;
  }

  .w-md--50pct {
    width: 50% !important;
  }

  .mb-md--80px {
    margin-bottom: 80px !important;
  }

  .w-md--58pct {
    width: 57.623% !important;
  }

  .fs-md--16px {
    font-size: 16px !important;
  }

  .h-md--100pct {
    height: 100% !important;
  }

  .mb-md--25px {
    margin-bottom: 25px !important;
  }

  .fs-md--20px {
    font-size: 20px;
  }
}

.t--80px {
  top: 80px;
}

.px--13px {
  padding-left: 13px;
  padding-right: 13px;
}

.nav-item--active,
.toggle-nav li:hover {
  background-color: #c01111;
  color: #fff;
  cursor: pointer;
}

.toggle-nav li a {
  color: inherit;
}

.fs--22px {
  font-size: 22px;
}

@media only screen and (min-width: 992px) {
  .w-lg--14pct {
    width: 14.648% !important;
  }

  .w-lg--72pct {
    width: 72.663%;
  }

  .w-lg--12pct {
    width: 12.018%;
  }

  .py-lg--40px {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .ms-lg--70px {
    margin-left: 70px !important;
  }

  .mb-lg--m70px {
    margin-bottom: -70px !important;
  }

  .mt-lg--m80px {
    margin-top: -80px !important;
  }

  .me-lg--25px {
    margin-right: 25px !important;
  }

  .p-lg--0 {
    padding: 0 !important;
  }
}
