<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <footer class="footer">
    <div class="footer-wrapper">
      <section class="footer-row--pt-60">
        <div class="footer-row-container">
          <div class="footer-row">
            <div class="footer-column">
              <div class="footer-column-wrap">
                <div class="element-wrapper">
                  <div class="element-wrapper--mt-8">
                    <a href="index.html">
                      <img src="../../assets/images/logo-sun.png" style="max-height: 51px;"
                        alt="Sun* Inc. Tuyển Dụng - | Digital Creative Studio">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-column">
              <div class="footer-column-wrap">
                <div class="element-wrapper">
                  <div class="footer__heading">
                    <div class="footer__heading-container">
                      <h2 class="heading-title heading-title--style-1">Chúng tôi là ai?</h2>
                    </div>
                  </div>
                  <div class="footer__link">
                    <div class="footer__link-container">
                      <ul>
                        <li><a href="#">Tầm nhìn, sứ mệnh</a></li>
                        <li><a href="#">Giá trị cốt lõi</a></li>
                        <li><a href="#">Ý nghĩa tên Sun*</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-column">
              <div class="footer-column-wrap">
                <div class="element-wrapper">
                  <div class="footer__heading">
                    <div class="footer__heading-container">
                      <h2 class="heading-title heading-title--style-1">Chúng tôi làm gì?</h2>
                    </div>
                  </div>
                  <div class="footer__link">
                    <div class="footer__link-container">
                      <ul>
                        <li><a href="#">Creative & Engineering</a></li>
                        <li><a href="#">Talent Platform</a></li>
                        <li><a href="#">Dự án của chúng tôi</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-column">
              <div class="footer-column-wrap">
                <div class="element-wrapper">
                  <div class="footer__heading">
                    <div class="footer__heading-container">
                      <h2 class="heading-title heading-title--style-1">Cập nhật tin tức</h2>
                    </div>
                  </div>
                  <div class="footer__link">
                    <div class="footer__link-container">
                      <ul>
                        <li><a href="#">Văn hóa - Sự kiện</a></li>
                        <li><a href="#">Tuyển dụng</a></li>
                        <li><a href="#">Chính sách phúc lợi</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="footer-row--pt-30">
        <div class="footer-row-container">
          <div class="footer-row">
            <div class="footer-column">
              <div class="footer-column-wrap">
              </div>
            </div>
            <div class="footer-column">
              <div class="footer-column-wrap">
                <div class="element-wrapper">
                  <div class="footer__heading">
                    <div class="footer__heading-container">
                      <h2 class="heading-title heading-title--style-1">Liên hệ</h2>
                    </div>
                  </div>
                  <div class="footer__link">
                    <div class="footer__link-container">
                      <ul>
                        <li><a href="#">SĐT: 84-24-3795-5417</a></li>
                        <li><a href="#">Email: hr@sun-asterisk.com</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-column footer-column-50">
              <div class="footer-column-wrap">
                <div class="element-wrapper">
                  <div class="footer__heading">
                    <div class="footer__heading-container">
                      <h2 class="heading-title heading-title--style-1">Văn phòng</h2>
                    </div>
                  </div>
                  <div class="footer__link">
                    <div class="footer__contact footer__link-container">
                      <ul>
                        <li>
                          <div class="contact__icon"></div>
                          <div class="contact__content">
                            <div class="contact__title"></div>
                            <div class="contact__desc">T13, Keangnam Hanoi Landmark Tower, khu E6, khu ĐTM Cầu Giấy,
                              phường Mễ Trì, quận Nam Từ Liêm, Hà Nội</div>
                          </div>
                        </li>
                        <li>
                          <div class="contact__icon"></div>
                          <div class="contact__content">
                            <div class="contact__title"></div>
                            <div class="contact__desc">Tầng 4, tòa FHome Building, số 16 Lý Thường Kiệt, quận Hải
                              Châu, Tp. Đà Nẵng
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="contact__icon"></div>
                          <div class="contact__content">
                            <div class="contact__title"></div>
                            <div class="contact__desc">Tầng 9, L'Mak Long Tower, số 101-103 Nguyễn Cửu Vân, Phường 17,
                              Quận Bình Thạnh, Thành phố Hồ Chí Minh.</div>
                          </div>
                        </li>
                        <li>
                          <div class="contact__icon"></div>
                          <div class="contact__content">
                            <div class="contact__title"></div>
                            <div class="contact__desc">Văn phòng Tokyo - Văn phòng Cebu - Văn phòng Phnom Penh</div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="footer-row--pt-30">
        <div class="footer-column-wrap">
          <div class="element-wrapper">
            <div class="footer-devider">
              <span class="footer-separator"></span>
            </div>
          </div>
        </div>
      </section>
      <section class="footer-row--pb-15">
        <div class="footer-row-container">
          <div class="footer-row">
            <div class="footer-column">
              <div class="element-wrapper">
                <div class="logo-container">
                  <div class="logo-wrapper">
                    <div class="logo-bear">
                      <a href="index.html">
                        <img src="../../assets/images/bear-footer.png"
                          alt="Sun* Inc. Tuyển Dụng - | Digital Creative Studio" style="max-height: 40px;">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-column footer-column-50">
              <div class="element-wrapper">
                <div class="footer__heading">
                  <div class="footer__heading-wrapper">
                    <div class="footer-text-last">
                      @ 2021 Sun-asterisk. All rights reserved.
                    </div>
                  </div>
                </div>
                <div class="footer__heading">
                  <div class="footer__heading-wrapper">
                    <div class="footer-text-last">
                      Giấy chứng nhận ĐKDN: 0106045931 do Sở KHĐT TP Hà Nội cấp lần đầu ngày 29/10/2012
                    </div>
                  </div>
                </div>
                <div class="footer__heading">
                  <div class="footer__heading-wrapper">
                    <div class="footer-text-last">
                      Giấy phép hoạt động DVVL: 03/2022 do Sở LĐTBXH TP Hà Nội cấp lần đầu ngày 10/01/2022
                    </div>
                  </div>
                </div>
                <div class="footer__heading">
                  <div class="footer__heading-wrapper">
                    <div class="footer-text-last">
                      Người đại diện theo pháp luật: KOBAYASHI TAIHEI - Tổng giám đốc
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-column footer-column-44">
              <div class="element-wrapper">
                <div class="social-container">
                  <div class="social-wrapper">
                    <div class="">
                      <ul>
                        <li>
                          <a href="https://youtube.com">
                            <div class="social-icon">
                              <i class="fa-brands fa-youtube"></i>
                            </div>
                            <div class="social-title"></div>
                          </a>
                        </li>
                        <li>
                          <a href="https://facebook.com">
                            <div class="social-icon">
                              <i class="fa-brands fa-facebook"></i>
                            </div>
                            <div class="social-title"></div>
                          </a>
                        </li>
                        <li>
                          <a href="https://instagram.com">
                            <div class="social-icon">
                              <i class="fa-brands fa-instagram"></i>
                            </div>
                            <div class="social-title"></div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="footer-row--p-0">
        <div class="footer-row-container">
          <div class="footer-row">
            <div class="footer-row-wrapper">
              <div class="element-container">
                <div class="element-wrapper">
                  <div class="footer-button-container">
                    <div class="footer-button-wrapper">
                      <div class="button-wrap">
                        <a href="#" class="footer-button">
                          <span class="button-content-wrapper">
                            <span class="button-text">Join us</span>
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </footer>
</body>

</html>