<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header class="header">
    <div class="header-row">

      <div class="header-column">
        <div class="header__logo">
          <a href="index.html">
            <img src="../../assets/images/logo-sun.png" alt="logo-sun" style="max-height: 40px;">
          </a>
        </div>
      </div>

      <div class="header-column">
        <nav class=" header__navbar">
          <ul class="navbar-nav">
            <li class="navbar-item">
              <a href="#" class="navbar-link active">Trang chủ</a>
            </li>
            <li class="navbar-item">
              <a href="#" class="navbar-link">Về chúng tôi</a>
            </li>
            <li class="navbar-item">
              <a href="#" class="navbar-link">Dự án</a>
            </li>
            <li class="navbar-item">
              <a href="#" class="navbar-link">Cơ hội nghề nghiệp</a>
            </li>
            <li class="navbar-item">
              <a href="#" class="navbar-link">Môi trường làm việc</a>
            </li>
            <li class="navbar-item">
              <a href="#" class="navbar-link">Tin tức</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="header-column">
        <div class=" header__lang-switcher">
          <ul class="lang-nav">
            <li class="lang-item lang-vi">
              <a href="#">VI</a>
            </li>
            <li class="lang-item lang-en">
              <a href="#">EN</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </header>

</body>

</html>